<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="ru.first.spring.RapMusic">
<!--        <constructor-arg value="Roma"/>-->
    </bean>

    <bean id="listMusic" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="ru.first.spring.RockMusic"/>
                <bean class="ru.first.spring.ClassicalMusic"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer"
          class="ru.first.spring.MusicPlayer">
        <property name="musicList" ref="listMusic"/>
<!--        <property name="musicList">-->
<!--            <list>-->
<!--                <ref bean="musicBean"/>-->
<!--                <bean class="ru.first.spring.RockMusic"/>-->
<!--                <bean class="ru.first.spring.ClassicalMusic"/>-->
<!--            </list>-->
<!--        </property>-->
    </bean>

</beans>